/**
 * @Author: katie
 * @Date:   2017-07-09T19:23:09-05:00
 * @Last modified by:   katie
 * @Last modified time: 2020-11-08T21:26:52-06:00
 */



table {
  border: 2px solid black;
  border-collapse: collapse;
  font-family: "Ubuntu Mono", sans-serif;
  font-size: 10pt;
  text-align: left;
  page-break-after: always;
  table-layout: fixed;
}

table.titlepage {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  border-collapse: collapse;
}

table.page1 {
  margin:.5in 1in .5in .5in;
}

table.page1 tr:nth-last-child(3) {
  border-top: 2px solid black;
}

table.page1 tr:nth-last-child(1) {
  border-bottom: 2px solid black;
}

table.page2 {
  margin:.5in .5in .5in 1in;
}

table.page2 tr:nth-last-child(3) {
  border-top: 2px solid black;
}

table.page2 tr:nth-last-child(1) {
  border-bottom: 2px solid black;
}

th, tr, td {
  border: 1px solid black;
  border-collapse: collapse;

}

th {
  text-align: center;
  background: #FFFFFF;
}

th.secondrow {
  text-align: center;
  font-weight:normal;
  background: #FFFFFF;
}

.pagebreak {
  page-break-after: always;
}

h1, h2, h3, h4, h5, p {
  text-align: center;
  font-family: "Ubuntu Mono", sans-serif;
  margin-bottom: .5in;
}

.gray {
  background: #D0D3D4;
}

.boldcenter {
  font-weight: bold;
  text-align: center;
}

.p1box {
  border-top: 2px solid black;
}

.p2box {
  border-bottom: 2px solid black;
}
