table {
  border: 1px solid black;
  border-collapse: collapse;
  font-family: "Ubuntu Mono", sans-serif;
  font-size: 15px;
  text-align: left;
  page-break-after: always;
  table-layout: fixed;
}

th, tr, td {
  border: 1px solid black;
  border-collapse: collapse;

}

th {
  text-align: center
}

td.secondrow {
  text-align: center
}

.pagebreak {
  page-break-before: always;
}

h1, p {
  text-align: center;
  font-family: "Ubuntu Mono", sans-serif;
}
